<div class="scroll-to" id="projects-section"></div>

<div class="section-header">
  <img width="20" height="24" src="../../assets/images/sparkle.svg"/>
  <h2 class="ml-2">Projects</h2>
</div>
<section class="section-content">
  <a href="" id="link-project-1">
    <div class="card-container">
      <div class="card-content">
        <div class="card-header">
          <p>Project Name</p>
          <a class="link-project">
            <p>Link to Project</p> <p class="external-link-icon"></p>
          </a>
        </div>
        <div class="card-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pulvinar diam et nunc gravida dictum. Maecenas volutpat velit id justo convallis maximus. Phasellus venenatis euismod ultrices. Maecenas posuere nunc odio
        </div>
        <p class="link-project--mobile">Link to Project <a class="external-link"></a></p>
      </div>
    </div>
  </a>

  <a href="" id="link-project-2">
    <div class="card-container">
      <div class="card-content">
        <div class="card-header">
          <p>Project Name</p>
          <a class="link-project">
            <p>Link to Project</p> <p class="external-link-icon"></p>
          </a>
        </div>
        <div class="card-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pulvinar diam et nunc gravida dictum. Maecenas volutpat velit id justo convallis maximus. Phasellus venenatis euismod ultrices. Maecenas posuere nunc odio
        </div>
        <p class="link-project--mobile">Link to Project <a class="external-link"></a></p>
      </div>
    </div>
  </a>
</section>

