<div class="section-header">
  <img width="20" height="24" src="../../assets/images/sparkle.svg"/>
  <h2 class="ml-2">Projects</h2>
</div>
<section class="section-content">
  <div class="card-container">
    <div class="card-content">
      <div class="card-header">
        <p>Project Name</p>
        <p class="flex">Link to Project <img width="20" height="24" src="../../assets/icons/icon-external-link.svg" class="ml-2"/></p>
      </div>
      <div class="card-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pulvinar diam et nunc gravida dictum. Maecenas volutpat velit id justo convallis maximus. Phasellus venenatis euismod ultrices. Maecenas posuere nunc odio
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card-content">
      <div class="card-header">
        <p>Project Name</p>
        <p class="flex">Link to Project <img width="20" height="24" src="../../assets/icons/icon-external-link.svg" class="ml-2"/></p>
      </div>
      <div class="card-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pulvinar diam et nunc gravida dictum. Maecenas volutpat velit id justo convallis maximus. Phasellus venenatis euismod ultrices. Maecenas posuere nunc odio
      </div>
    </div>
  </div>
</section>

