<div class="scroll-to" id="projects-section"></div>

<div class="section-header">
  <img width="20" height="24" src="../../assets/images/sparkle.svg"/>
  <h2 class="ml-2">Projects</h2>
</div>
<section class="section-content">
  <ng-container *ngFor="let project of projectsInformation; index as i">
    <a href="" id="link-project-{{i}}">
      <div class="card-container">
        <div class="card-content">
          <div class="card-header">
            <p>{{project.projectName}}</p>
            <a>
              <p class="link-project">Link to Project<a class="external-link-icon"></a></p>
            </a>
          </div>
          <div class="card-description">
            <p>{{project.projectDescription}}</p>
          </div>
          <a>
            <p class="link-project--mobile">Link to Project <a class="external-link-icon"></a></p>
          </a>
        </div>
      </div>
    </a>
  </ng-container>
</section>

