<div class="scroll-to" id="skills-section"></div>

<div class="section-header" id="skills-section">
  <img width="20" height="24" src="../../assets/images/sparkle.svg"/>
  <h2 class="ml-2">Skills</h2>
</div>
<section class="section-content" id="technical-skills">
  <div class="card-container">
    <div class="card-content">
      <img src="assets/icons/icon-code.svg">
      <div class="list-skills">
        <div *ngFor="let items of technicalSkills; index as i;" class="skill-pill" id="pill-{{technicalSkills[i]}}">
          <p>{{technicalSkills[i]}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container" id="design-skills">
    <div class="card-content">
      <img src="assets/icons/icon-design.svg">
      <div class="list-skills">
        <div *ngFor="let items of designSkills; index as i;" class="skill-pill" id="pill-{{designSkills[i]}}">
          <p>{{designSkills[i]}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container" id="productivity-skills">
    <div class="card-content">
      <img src="assets/icons/icon-productivity.svg">
      <div class="list-skills">
        <div *ngFor="let items of productivitySkills; index as i;" class="skill-pill" id="pill-{{productivitySkills[i]}}">
          <p>{{productivitySkills[i]}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

