<div class="scroll-to" id="skills-section"></div>

<div class="section-header" id="skills-section">
  <img width="20" height="24" src="../../assets/images/sparkle.svg"/>
  <h2 class="ml-2">Skills</h2>
</div>
<section class="section-content" id="technical-skills">
  <div class="card-container">
    <div class="card-content">
      <div class="img-container"><div id="code-icon"></div></div>
      <div class="list-skills">
        <div *ngFor="let technicalSkills of technicalSkills; index as i;" class="skill-pill" id="pill-{{technicalSkills}}">
          <p>{{technicalSkills}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container" id="design-skills">
    <div class="card-content">
      <div class="img-container"><div id="design-icon"></div></div>
      <div class="list-skills">
        <div *ngFor="let designSkills of designSkills; index as i;" class="skill-pill" id="pill-{{designSkills}}">
          <p>{{designSkills}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container" id="productivity-skills">
    <div class="card-content">
      <div class="img-container"><div id="productivity-icon"></div></div>
      <div class="list-skills">
        <div *ngFor="let productivitySkills of productivitySkills; index as i;" class="skill-pill" id="pill-{{productivitySkills}}">
          <p>{{productivitySkills}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

