<div class="scroll-to" id="experience-section"></div>

<section class="section-header">
  <img width="20" height="24" src="../../assets/images/sparkle.svg"/>
  <h2 class="ml-2">Experience</h2>
</section>

<section class="section-content">
  <div class="card-container" *ngFor="let experienceInfo of experienceInfo; index as i">
    <div class="card-content">
      <div class="card-header">
        <p>{{experienceInfo.title}}</p>
        <p>{{experienceInfo.company}}</p>
      </div>
      <div class="card-subheader">
        <p>{{experienceInfo.duration}}</p>
        <p>{{experienceInfo.companyLocation}}</p>
      </div>
      <div class="card-description">
        <ul *ngFor="let experienceDescription of experienceInfo.description">
          <li>{{experienceDescription}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
