@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root{
  --rosy-brown: #AC8887;
  --cod-gray: #2A2F32;
  --jupiter: #E1E1E1;
  --arsenic: #3F4346;
}

html{
  scrollbar-width: thin;
  scrollbar-color: var(--rosy-brown) var(--cod-gray);
}

body{
  @apply bg-cod-gray;
}

html, body{
  font-family: 'Inter';
  font-weight: 300;
  height: 100vh;
}
