<section class="introduction-panel">
  <div class="introduction">
    <p class="text-base">Hello, I'm</p>
    <div class="inline-flex">
      <p class="text-xl mr-4">Naomi Lima</p>
      <img width="42" height="50" src="../../assets/images/sparkle.svg"/></div>
    <p class="text-lg">Frontend Developer</p>
  </div>
  <div class="about-me">
    <p>I'm a developer based in Miami, FL., passionate about developing websites with great user experience and aesthetic design.</p>
    <p>Check out my
        <a class="navi-link" href="#experience-section">experience</a>,
        <a class="navi-link" href="#projects-section">projects</a>,
        <a class="navi-link" href="#skills-section">skills</a>,
      or learn more about me.</p>
  </div>
  <button class="resume-btn">View Resume</button>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/naomilima/" target="_blank" class="linkedin-link"></a>
    <a href="https://www.instagram.com/naomi_lima/" target="_blank" class="instagram-link"></a>
  </div>
</section>
