<section class="introduction-panel">
  <div class="introduction">
    <p class="text-sm">Hello, I’m</p>
    <p class="text-xl">Noomi Lima</p>
    <p class="text-lg">Frontend Developer</p>
  </div>
  <div>
    <p class="about-me">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet mattis velit. Aenean cursus at ligula nec elementum. Quisque sed maximus elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet mattis velit. Aenean cursus at ligula nec elementum. Quisque sed maximus elit.</p>
  </div>
</section>
