<section class="introduction-panel">
  <div class="introduction">
    <p class="text-base">Hello, I’m</p>
    <div class="inline-flex">
      <p class="text-xl mr-4">Noomi Lima</p>
      <img width="42" height="50" src="../../assets/images/sparkle.svg"/></div>
    <p class="text-lg">Frontend Developer</p>
  </div>
  <div class="about-me">
    <p>I am a Frontend Developer with a passion for user experience and design. I am currently working at World Fuel Services.</p>
    <p>Check out my <span class="text-rosy-brown">projects</span>, <span class="text-rosy-brown">experience</span>, <span class="text-rosy-brown">skills</span>, or learn more about me below.</p>
  </div>
  <button>Button</button>
</section>
